/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.left {
  float: left;
}
.right {
  float: right;
}

.triangle-border {
  padding: 10px;
  margin-bottom: 0.5em;
}

.custom-icons .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.custom-icons .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.home-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/53-house.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.councils-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/112-group.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.browse-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/06-magnify.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.import-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/08-chat.png) 50% 50% no-repeat;
  background-size: 24px 22px;
}

.choose-gender,
.choose-privacy {
  text-align: center;
  padding-top: 1.4em;
}
.choose-gender fieldset,
.choose-privacy fieldset {
  display: inline;
}

#dashboard-page h3 {
  text-align: center;
  margin-bottom: 2.4em;
}

#conversation-page .info h3 {
  color: #2c2c2c;
  font-weight: normal;
  margin: 4px 0;
}
#conversation-page .info p {
  color: #686868;
  margin-top: 0;
}
#conversation-page #texts {
  padding: 1em 0;
}
#conversation-page #new-text {
  width: 70%;
  float: left;
}
#conversation-page #new-text-form .ui-btn {
  width: 20%;
  float: right;
}
#conversation-page #council-members {
  margin-bottom: 2em;
}
#conversation-page #owner-tools {
  margin: 2em 0;
}

#import-mode-page .import-toggle .ui-slider {
  width: 20%;
  float: left;
}
#import-mode-page .new-text-container {
  width: 75%;
  float: right;
}
#import-mode-page .new-text-container #new-text {
  width: 60%;
  float: left;
}
#import-mode-page .new-text-container .ui-btn {
  width: 25%;
  float: right;
}