/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.left {
  float: left;
}
.right {
  float: right;
}

.custom-icons .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.custom-icons .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
.home-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/53-house.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.councils-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/112-group.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.browse-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/06-magnify.png) 50% 50% no-repeat;
  background-size: 22px 22px;
}
.import-button .ui-icon {
  background:url(../scripts/libs/jquery.mobile/images/white/08-chat.png) 50% 50% no-repeat;
  background-size: 24px 22px;
}

#texts .text {
  width: 100%;
}

.import-toggle {
  width: 10%;
  float: left;
}
.new-text {
  width: 80%;
  float: left;
}
.new-text #new-text {
  width: 80%;
  float: left;
}
.new-text .ui-btn {
  width: 10%;
  float: right;
}

#dashboard-page h3 {
  text-align: center;
  margin-bottom: 2.4em;
}

.triangle-border {
  padding: 10px;
  margin-bottom: 0.5em;
}
.dude {
  border-color: #335caf;
}
.girl {
  border-color: #af3333;
}

.choose-gender,
.choose-privacy {
  text-align: center;
  padding-top: 1.4em;
}
.choose-gender fieldset,
.choose-privacy fieldset {
  display: inline;
}