<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <a id="login-link">Login</a>
  <h1>Signup</h1>
</div>

<div data-role="content" class="content">
  <form id="signup-form">
    <fieldset>
      <div data-role="fieldcontain" class="ui-field-contain">
        <label for="username" class="ui-hidden-accessible">Username</label>
        <input type="text" name="username" id="username" value="" placeholder="Username" />
      </div>
      <div data-role="fieldcontain" class="ui-field-contain">
        <label for="password" class="ui-hidden-accessible">Password</label>
        <input type="password" name="password" id="password" value="" placeholder="Password" />
      </div>
      <div class="choose-gender">
        <fieldset data-role="controlgroup" data-type="horizontal">
          <input type="radio" name="gender" id="radio-choice-1" value="F" checked="checked" />
          <label for="radio-choice-1">F</label>
          <input type="radio" name="gender" id="radio-choice-2" value="M" />
          <label for="radio-choice-2">M</label>
        </fieldset>
      </div>
      <div data-role="fieldcontain" class="ui-field-contain">
        <button type="submit" id="signup-button">Signup</button>
      </div>
    </fieldset>
  </form>
</div>

</body>
</html>