<div data-role="header">
  <h1>{{title}}</h1>
</div>
<div data-role="content">
  <h1>{{prompt}}</h1>
  <p>{{{body}}}</p>
  <a data-role="button" id="confirm">Sounds good</a>       
  <a data-role="button" id="cancel">Cancel</a>    
</div>