<div data-role="header" class="header">
</div>

<div data-role="content" class="content">
</div>

<div data-role="footer" data-id="footer" data-position="fixed" class="footer custom-icons">
  <div data-role="navbar">
    <ul>
      <li><a id="nav-dashboard" data-view="dashboard" data-icon="custom" class="home-button">Home</a></li>
      <li><a id="nav-conversations" data-view="conversations" data-icon="custom" class="councils-button">Conversations</a></li>
      <li><a id="nav-browse-feed" data-view="browse_feed" data-icon="custom" class="browse-button">Browse</a></li>
      <li><a id="nav-new-conversation-1" data-view="import_conversation" data-icon="custom" class="import-button">Import</a></li>
    </ul>
  </div>
</div>