<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
  <a id="logout-link">Logout</a>
  <h1>Dashboard</h1>
</div>

<div data-role="content">
</div>

<div data-role="footer" data-position="fixed" class="custom-icons">
  <div data-role="navbar">
    <ul>
      <li><a id="my-conversations" data-icon="custom" class="home-button">Home</a></li>
      <li><a id="my-councils" data-icon="custom" class="councils-button">Councils</a></li>
      <li><a id="browse-feed" data-icon="custom" class="browse-button">Browse</a></li>
      <li><a id="import-conversations" data-icon="custom" class="import-button">Import</a></li>
    </ul>
  </div>
</div>

</body>
</html>