<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <a id="logout-link">Logout</a>
  <h1>Dashboard</h1>
</div>

<div data-role="content" class="content">
</div>

</body>
</html>