<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
  <a id="logout-link">Logout</a>
  <h1>Dashboard</h1>
</div>

<div id="dashboard-grid" class="ui-grid-a">
  <div id="my-conversations" class="my-conversations-button ui-block-a">My Convos</div>
  <div id="my-councils" class="my-councils-button ui-block-b">Councils</div>
  <div id="browse-feed" class="browse-feed-button ui-block-a">Browse</div>
  <div id="import-conversations" class="import-conversations-button ui-block-b">Import</div>
</div>

</body>
</html>