<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  {{#council_member}}<a id="link-back" data-icon="arrow-l">Back</a>{{/council_member}}
  <h1>{{username}}</h1>
</div>

<div data-role="content" class="content">
  {{#council_member}}<button id="add-to-council">Add to Council</button>{{/council_member}}
</div>

</body>
</html>