<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
    <h1>Dashboard</h1>
</div>

<div data-role="content">
    <p>Welcome to your dashboard</p>
    <p id="logout-link">Logout</p>
</div>

</body>
</html>