<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
  <a id="signup-link">Signup</a>
  <h1>Login</h1>
</div>

<div data-role="content">
  <form id="login-form">
    <fieldset>
      <div data-role="fieldcontain" class="ui-field-contain">
        <label for="username" class="ui-hidden-accessible">Username</label>
        <input type="text" name="username" id="username" value="" placeholder="Username" />
      </div>
      <div data-role="fieldcontain" class="ui-field-contain">
        <label for="password" class="ui-hidden-accessible">Password</label>
        <input type="password" name="password" id="password" value="" placeholder="Password" />
      </div>
      <div data-role="fieldcontain" class="ui-field-contain">
        <button type="submit" id="login-button">Login</button>
      </div>
    </fieldset>
  </form>
</div>

</body>
</html>