<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <h1>Browse Feed</h1>
</div>

<div data-role="content" class="content">
  <ul data-role="listview">
    {{#conversations}}
    <li><a data-id="{{id}}">{{author.username}}: {{target}}</a></li>
    {{/conversations}}
  </ul>
</div>

</body>
</html>