<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <h1>Browse Public</h1>
</div>

<div data-role="content" class="content">
  <ul data-role="listview">
    {{#conversations}}
    <li data-id="{{id}}"><a data-id="{{id}}">
      <h4>{{target}}</h4>
      <p>{{author.username}}</p>
    </a></li>
    {{/conversations}}
  </ul>
</div>

</body>
</html>