<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
  <a id="link-dashboard" data-icon="arrow-l">Dashboard</a>
  <h1>Browse Feed</h1>
</div>

<div data-role="content">
  Browse Feed
</div>

</body>
</html>