<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header">
  <a id="link-dashboard" data-icon="arrow-l">Dashboard</a>
  <h1>Browse Feed</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    {{#conversations}}
    <li><a data-id="{{id}}">{{context}}</a></li>
    {{/conversations}}
  </ul>
</div>

</body>
</html>