<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <a id="link-back" data-icon="arrow-l">Back</a>
  <h1>Search</h1>
</div>

<div data-role="content" class="content">
  <form role="search" id="search-users" class="ui-listview-filter ui-bar-c">
    <div data-role="fieldcontain" class="ui-field-contain">
      <label for="search-query" class="ui-hidden-accessible">Search Input:</label>
      <input type="search" name="search" id="search-query" placeholder="Friend's name..." />
    </div>
  </form>
  <ul data-role="listview" id="search-users-list"></ul>
</div>

</body>
</html>