<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div data-role="header" class="header">
  <h1>{{target}} ({{gender}})</h1>
  <a id="link-submit-conversation" data-icon="arrow-{{side}}" data-theme="b" {{^back}}class="ui-btn-right"{{/back}}>Done</a>
</div>

<div data-role="content" class="content">
  <div id="texts" class="clearfix">
    {{#texts}}
    <div class="text clearfix">
      <div class="triangle-border {{#them}}left{{/them}}{{^them}}right{{/them}} {{gender_class}}">{{author_name}}: {{body}}</div>
    </div>
    {{/texts}}
  </div>
  <form id="add-text-form">
    <div data-role="fieldcontain" class="ui-field-contain clearfix">
      <div class="import-toggle">
        <select name="text_author" id="flip-a" data-role="slider">
          <option value="them"{{#them}} selected="selected"{{/them}}>{{gender_pronoun}}</option>
          <option value="me"{{^them}} selected="selected"{{/them}}>Me</option>
        </select>
      </div>
      <div class="new-text clearfix">
        <label for="new-text" class="ui-hidden-accessible">Message</label>
        <input type="text" name="new-text" id="new-text" placeholder="Message" />
        <button type="submit" id="new-text-button">Add</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>